<div class="d-flex justify-content-center align-items-center h-100 flex-column">
  <div class="title time-clock mt-4"></div>
  <div class="avatar-logo">
    <img src="logo.png" height="100" width="100" />
  </div>
  <div class="description mb-2" style="text-align: center;">
    Você está no ponto de onibus <br>
    'Rua Desembargador Motta'
  </div>

  <div class="bus d-flex flex-wrap mt-2 justify-content-around">
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
    <a href="<%= info_path(number: 464) %>">
      <div class="bus-item rounded p-2 m-2 d-flex flex-row">
        <span class="bus-text d-flex justify-content-center align-items-center ml-3 mr-3">Linha 001 - CWB - SP</span>
      </div>
    </a>
  </div> 

  <a class='btn btn-info btn-back' href="<%= index_path %>"> voltar </a>

</div>