<!DOCTYPE html>
<html>
  <head>
    <title>SmartMobi - Painel Inteligente</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <audio class='d-none' controls id="tts-audio"/>
  </body>

  <%= yield :javascripts %>

  <script>
    var alert_sound = undefined
    var alert_sound_2 = undefined
    function formatDate(date) {
        var str =
            ("00" + (date.getDate())).slice(-2)
            + "/" + ("00" + date.getMonth() + 1).slice(-2)
            + "/" + date.getFullYear() + " "
            + " - "
            + ("00" + date.getHours()).slice(-2) + ":"
            + ("00" + date.getMinutes()).slice(-2)
            + ":" + ("00" + date.getSeconds()).slice(-2);
        
      
      return str;
    }

    function googlePlay(text)
    {
      text = encodeURI(text)
      lang = 'pt-br'
          // Get the audio element
      const audioEl = document.getElementById('tts-audio');

      const url= `https://translate.google.com/translate_tts?ie=UTF-8&tl=${lang}&client=tw-ob&q=${text}`;

      // add the sound to the audio element
      audioEl.src = url;

      //For auto playing the sound
      audioEl.play();
    }

    function alertaData()
    {
      var randomNumber = Math.random() * 30;
      if(randomNumber < 5)
      {
        var texto = 'Aviso! 050 - INTERBAIRROS V está chegando em 5 minuto'
        googlePlay(texto);
      }
      else if (randomNumber < 10)
      {
        var texto = 'Aviso! 165 - UNIVERSIDADES está chegando em 1 minuto'
        googlePlay(texto);
      } else if (randomNumber < 15) {
        var texto = 'Aviso! 175 - BOM RETIRO / PUC está chegando em 15 minuto'
        googlePlay(texto);
      }
      
    }

    function updateTime()
    {
      dateNow = new Date()
      $(".time-clock").html(formatDate(dateNow));

      setTimeout(() => {
        updateTime();
      }, 1000);
    }

    $(document).ready(function() {
      $(".title").click();
      updateTime();
    })
  </script>
</html>
